<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>544423238849-rpfdr9lh3jj983gejkuk0ribrctftcqd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.544423238849-rpfdr9lh3jj983gejkuk0ribrctftcqd</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>544423238849-gticdu4t9enbq26t607ub7f73v9bmfds.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAJohTni5yfOU9TxD0b2HpKa4uXsF3d728</string>
	<key>GCM_SENDER_ID</key>
	<string>544423238849</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.saathi</string>
	<key>PROJECT_ID</key>
	<string>saathi-85757</string>
	<key>STORAGE_BUCKET</key>
	<string>saathi-85757.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:544423238849:ios:798a692c439560e0a80840</string>
</dict>
</plist>